@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif; }

#clock {
  color: white;
  text-align: center;
  font-size: 100px; }

#date {
  color: white;
  text-align: center;
  font-size: 50px; }

#day {
  color: white;
  text-align: center;
  font-size: 100px;
  padding-top: 100px; }
